.container{
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 200px;
    height: 40px;
    background: #FAFBFE;
    border-radius: 6px;
    padding: 0 10px;
    cursor: pointer; 
    border: 1px #F0F0F0;
  
}
.searchText{
   
    flex: 1;
    font-size: 14px;
    color: #ABB6C7;
            
}
.list{
     position: absolute;
    top: 42px;
                left: 0;
                right: 0;
                background: #fff;
                border: 1px solid #ddd;
                border-radius: 6px;
                list-style: none;
                margin: 0;
                padding: 0;
                max-height: 220px;
                overflow-y: auto;
                z-index: 1000;
              }

@media(max-width:800px){
    .searchText{
        font-size:10px ;
    }
}