.topBar {
  background-color: #2aa7ff;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 8px 16px;
}
.topBarText{
    display: inline-block;

}

.navbar {
 background: linear-gradient(to right, #e1f1ff, #ffffff);
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px 8px;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.logo img {
  display: block;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navLink {
  text-decoration: none;
  color: #1b3c74;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #2aa7ff;
}

.bookingBtn {
  background: #2aa7ff;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.3s ease;
}

.bookingBtn:hover {
  background: #1f86d0;
}
.menuIcon{
    width: 60%;
    height: 60%;
    
}
.hamburger {
  display: none;
  background: none;
  border: none;
  color: #1051c3;
  font-size: 16px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
@media(max-width:500px){
  .container{
    padding: 1px 2px;
  }
  .menuIcon{
    margin-left: 5px;
  
}}

@media(max-width:768px){

  .container {
    position: relative;
  }

  .navLinks {
    display: none;
  }

  .showMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: inherit;
    border-radius: inherit;
    align-items: end;
    gap: 8px;
    padding: 4px 8px;
    box-sizing: border-box;
  }

    .hamburger{
    display: block;
    align-self: flex-end;
    padding: 1px 1px;
    }
   
    .topBar {
        overflow: hidden;
        white-space: nowrap;
    }

  .topBarText {
    display: inline-block;
    animation: movingText 12s linear infinite;
  }

}

@keyframes movingText {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.hamExpand{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    box-shadow: 1px 2px #e3e3e3;
    background-color: #deedfc;
    border-radius: 12px;
    box-sizing: border-box;
}