*,
*::before,
*::after {
  box-sizing: border-box;
  font-family:'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body {
  background: linear-gradient(to bottom right, #e1f1ff, #ffffff);
  margin: 0;
  padding: 0;
}